
* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  background: #444c4a;
  font-family: monospace, monospace

  
}

h3 {
  text-align: center;
  
}

p {
  margin: 0 50px 0 50px;
}

#options {
  max-height: 75px;
  max-width: 200px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  
}

#choices {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  
}

#timer {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 3% 0 3% 8%;
  
  
}

#timer-text {
  border-style: solid;
  border-radius: 50%;
  align-items: center;
  padding: 20px;
  
}

#timer-count {
  text-align: center;
}

header {
  padding: 40px;
  text-align: center;
  background:  #260000;
  color: #ebf7ff;
  width: 100%;
  font-size: 60px;
  
}

div {
  display: block;
}

#quiz-start {
  display: flex;
  text-align: center;
 
}

#question-title {
  font-size: 30px;
  text-align: center;
  
}




.hide{
  display: none;
}

.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000011;
  
 
}

.timer-text{
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #730000;
  border-style: solid;
  border-color: #000011 ;
  border-radius: 20px;
  padding: 20px;
  
  
  
}

.quiz-text {
  border-radius: 10px;
  background-color: #000011;
  width: 70em;

  
}

.quiz-container {
  
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ebf7ff;;
  
}

.question {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;

  

}

#start-button {
  position:absolute;
  margin: 0;
  top: 40%;
  left: 10%;

  
}

button { 
  
  font-family: monospace;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  margin-top: 0.6em;
  background-color: #330000 ;
  color: #800000;
  border-radius: 50px;
  
  
}

#results {
  text-align: center;
  font-size: 30px;
  color: #5c748c;
}




@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}


